/* header{
display: flex;
} */
 .menu{
    display: flex;
    height: 60px;
    background-color: #6a8eae;
    justify-content: end;
    padding-bottom: 10px;
 }
 footer{
      height: 60px;
          background-color: #6a8eae;
display: flex;
justify-content: center;
color: #eafffd;
 
 }
 #showLong{
    width: 100px;
    height: 35px;
    background-color: #d5cad6;
    margin: 25px 20px 0px 20px;
    border-color: #294055;
    border-radius: 2px;

 }

 .logo{
    color: white;
 }
 .linkList{
    width: screen;
    height: 600px;
    overflow: scroll;

 }

.modal-wrapper {
  position: fixed;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  background-color: rgba(0, 0, 0, 0.6);
  z-index: 100;
  display: none;
}

.modal {
  position: absolute;
  top: 20%;
  left: 30%;
  background-color: #eafffd;
  padding: 20px 0 40px;
  border-radius: 10px;
  width: 700px;
  height: auto;
  text-align: center;
}

input{
    width: 80%;
    margin: 10px;
}
textarea{
    width: 80%;
    height: 200px;
}
#close{
   margin-top: 5px;
}

#list{
  list-style:none;
}

.detailMain{
    width: 1180px;
    margin:0 auto;
}


.detailTitle{
   font-size: xx-large;
      background-color: #d5cad6;
      width: 90%;
      padding: 10px 20px;
}

.detailText_box{
   background-color: #d5cad6;
   width: 90%;
   min-height: 200px;
   padding: 20px;
}

.detailBookInfo{
   font-size: small;
   padding: 10px;
}



.toTop{
   width: 90%;
   text-align: end;
}
.edit_button, .delete_button {
width: 60px;
padding: 5px 10px;
background-color: #ed9e5e;
color: #eafffd;
border-radius: 4px;
margin: 20px 10px;
text-decoration: none;
}
.edit_button{
   cursor:pointer;
}


